{:compiler-options {:asset-path "js/node-logger.out"
                    :external-config {:devtools/config {:features-to-install [:formatters :hints]}}
                    :main "frereth-weald.logging"
                    :optimizations :none
                    :parallel-build true
                    :preloads [devtools.preload]
                    :target :nodejs}}
